.header {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  font-weight: var(--font-weight-middle);
  letter-spacing: 0.02em;
}

.header .container {
  @include adaptive-for-tablet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-container {
  width: 100%;
  background-color: var(--primary-bg-color);

  &.is-open {
    display: block;
    z-index: 1;
    
    @include adaptive-for-tablet {
      display: flex;
    }
  }

  @include adaptive-before-tablet {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    padding: 48px 40px;
 }

 @include adaptive-for-tablet {
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0;
  }
}

.main-menu__list {
  margin-bottom: 302px;
  @include adaptive-for-tablet {
    display: flex;
    margin-bottom: 0;
  }
}

.main-menu__item {
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 1.175;

  @include adaptive-for-tablet {
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.143;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.main-menu__item .link {
  &:focus,
  &:hover {
    outline: none;
    color: var(--accent-color);
  }

  @include adaptive-for-tablet {
    display: block;
    padding-top: 32px;
    
    &::after {
      display: block;
      width: 100%;
      height: 4px;
      margin-top: 28px;
      background-color: var(--accent-color);
      border-radius: 2px;
      content: "";
      transform: scaleX(0);
      transition: var(--basic-transform-animation);
    }
  
    &:focus::after,
    &:hover::after {
      transform: scale(1);
      }
  }
}

.active-link {
  color: var(--accent-color);
}

.active-link.link {
  @include adaptive-for-tablet {
    &::after {
      transform: scale(1);
    }
  }
}

.header__contacts-list {
  position: relative;
  margin-bottom: 64px;

  @include adaptive-for-tablet {
    position: static;
    margin-bottom: 0;
  }

  @include adaptive-for-desktop {
    display: flex;
  }
}

.header__contacts-item {
  position: static;
  @include adaptive-before-tablet {
    &:nth-child(2) {
      position: absolute;
      top: -200%;
      left: 0;
    }
  }

  @include adaptive-for-desktop {
    &:first-child {
      margin-right: 30px;
    }
  }
}

.header__contacts-icon {
  display: none;
  fill: currentColor;
  
  @include adaptive-for-tablet {
    display: inline;
    vertical-align: middle;
    margin-right: 8px;
  }

  @include adaptive-for-desktop {
    margin-right: 10px;
  }
}

.header__contacts-mail .header__contacts-icon {
  width: 14px;
  height: 10px;

  @include adaptive-for-desktop {
    width: 16px;
    height: 12px;
  }
}

.header__contacts-tel .header__contacts-icon {
  width: 10px;
  height: 14px;

  @include adaptive-for-desktop {
    width: 10px;
    height: 16px;
  }
}

.header__contacts-mail {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 1.167;
  color: var(--basic-dark-text-color);

  @include adaptive-for-desktop {
    margin-bottom: 0;
  }
}

.header__contacts-tel {
  font-size: 34px;
  line-height: 1.176;
  color: var(--accent-color);
  
  @media screen and (max-width: 380px) {
    font-size: 24px;
  }
}

.header__contacts-mail,
.header__contacts-tel {
  @include adaptive-for-tablet {
    display: block;
    color: currentColor;
    font-size: 12px;
    line-height: 1.167;
    }
  
    &:focus,
    &:hover {
      outline: none;
      color: var(--accent-color);
    }

    @include adaptive-for-desktop {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: inherit;
    }
}

.header__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include adaptive-for-tablet {
    display: none;
    }
}

.header__social-item {
  margin-bottom: 10px;
  padding-right: 10px;

  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
  border-right: 1px solid var(--transparent-border-color);
  }
}

.header__social-item .link {
  display: block;
  font-size: 18px;
  line-height: 1.222;
  color: var(--accent-color);
}

.main-menu__button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  background-color: inherit;
  border: none;

  &.is-open {
    z-index: 1;
  }
  
  & .main-menu__icon-cross {
    display: none;
  }

  &.is-open .main-menu__icon-burger{
    display: none;
  }

  &.is-open .main-menu__icon-cross {
    display: block;
  }

  &:focus,
  &:hover {
    outline: none;
    fill: var(--accent-color);
  }

  @include adaptive-for-tablet {
    display: none;
 }
}